---
import Title from '../atoms/Title.astro'
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro'
import './skills.css'
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<p class="text-4xl leading-tight">
			CSS, HTML, JavaScript, TypeScript JQuery, Vue 2, Nuxt, Vuetify, Bootstrap, 
			Materialize, API consumption, MySQL, Reactjs, Astro, Tailwind, CMS Drupal, CMS WordPress.
		</p>
	</div>
</section>
