---
import Boton from "../components/atoms/Boton.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="404 | Portfolio David Cartaya">
    <div class="flex flex-col justify-center mx-auto items-center max-w-screen-xl h-[100vh]">
        <h1 class="text-5xl text-white mb-12">Ups! Error 404. Page not Found</h1>
        <img class="mb-12" src="img/404.gif" width="200"></img>
        <Boton texto="Regresar" href="/"/>
    </div>
        
</Layout>