---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro'
import Terminal from '../terminal/Terminal.astro'
import './skills-on-terminal.css'
---

<Terminal nombre="davidCartaya">
	<div class="terminal__skills">
		<h2>My Skills</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/tailwind.svg"
				color="#7738ff"
				name="Tailwind"
			/>
			<TerminalIcon 
				src="/assets/css.svg" 
				color="#00A3FF" 
				name="CSS" 
			/>
			<TerminalIcon 
				src="/assets/bootstrap.svg" 
				color="#7738ff" 
				name="Bootstrap" 
			/>
			<TerminalIcon 
				src="/assets/html.svg" 
				color="#dc4c22"
				name="HTML"
			/>
			<TerminalIcon
				src="/assets/Astro.svg"
				color="#e1387f"
				name="Astro"
			/>
			<TerminalIcon
				src="/assets/react.svg"
				color="#00D1FF"
				name="React"
			/>
			<TerminalIcon
				src="/assets/vue.svg"
				color="#3fb17f"
				name="Vue"
			/>
			<TerminalIcon
				src="/assets/javascript.svg"
				color="#efd81c"
				name="Javascript"
			/>
			<TerminalIcon
				src="/assets/wordpress.svg"
				color="#21759b"
				name="Wordpress"
			/>
			<TerminalIcon
				src="/assets/typescript.svg"
				color="#3178c6"
				name="TypeScript"
			/>
		</div>
	</div>
</Terminal>
