---
import Logo from '../Logo.astro';
import SocialIcons from '../SocialIcons.astro';
import './Footer.css';
---

<footer>
	<div class="footer__container">
		<Logo name="David Cartaya Rodríguez" />
		<SocialIcons width="23" height="23" />
	</div>

	<aside class="footer__links">
		<ul>
			<li>
				<a class="footer__link" href="mailto:dcartaya77@gmail.com" target="_blank"
					><span
						><iconify-icon
							icon="fluent:mail-28-regular"
							width="27"
							height="27"
							style="color: #dcd8fc"></iconify-icon></span
					>dcartaya77@gmail.com</a>
			</li>
			<li>
				<a class="footer__link"
                href="https://github.com/dcartaya77"
                target="_blank"
                rel="nofollow noreferrer noopener"
					><span
						><iconify-icon
							icon="mdi:github"
							width="27"
							height="27"
							style="color: #dcd8fc"></iconify-icon></span
					>@dcartaya77</a>
			</li>
			<li>
				<a class="footer__link"
                href="https://wa.me/5351958846"
                target="_blank"
                rel="nofollow noreferrer noopener"
					><span
						><iconify-icon
							icon="mdi:whatsapp"
							width="27"
							height="27"
							style="color: #dcd8fc"></iconify-icon></span
					>WhatsApp</a>
			</li>
		</ul>
	</aside>
</footer>
